extends ../guestLayout.jade


block content
	script(src="/js/guestIndex.js")
	div.wrapper.row-offcanvas-left.page1
		aside.right-side
			section.content-header
				h1.darkbule
					|Homepage
					small Videos list page
			section.content
					div.row
						section.col-lg-12
							div.box.box-info
								//- div.box-header(id='#{cat.id}')
								//- 	i.fa.fa-film
								//- 	h3.darkbule.box-title #{cat.title} Videos :
								div.box-body
									div.row
										each mv in movies
												div.col-lg-3.col-xs-6(style="height:330px;")
													div.small-box.bg-aqua(style="")
														a(href="/movie/#{mv.id}")
															img(src='http://120.24.16.214/movie/covers/#{mv.pic}' alt="#{mv.title}" width='100%', height=180)
														div.inner
															p.darkbule(style="margin-top: 1px;overflow: hidden;text-overflow: ellipsis;display: box;display: -webkit-box;line-clamp: 2;-webkit-line-clamp: 2;-webkit-box-orient: vertical;") #{mv.title}
															p.darkbule(style="margin-bottom:2px;") 
																<i class="fa fa-user" aria-hidden="true"></i>
																| #{mv.pv} visitors
															p.darkbule(style="margin-bottom:2px;") 
																<i class="fa fa-clock-o" aria-hidden="true"></i>
																| #{moment(mv.meta.updateAt.toString()).format('YYYY/MM/DD HH:mm:ss')}
														//- div.icon
														//- 	i.ion.ion-bag
														//- a.small-box-footer(href="/movie/#{mv.id}")
														//- 	More please score for the v
														//- 	i.fa.fa-arrow-circle-right
		aside.left-side.sidebar-offcanvas(style="top:0;background-color:#f9f9f9;")
			section.sidebar
				//- img(src="/img/buptlogo1.png",alt="404-img")
				div.user-panel(style='padding: 0 0 0 85px;background-color:#f9f9f9')
					h2 Welcome
				ul.sidebar-menu(style="background:#f3ebc8") 
					li.typeli(style="border-bottom:0.5px solid #ccc;")
							a.typelist(href="/guestIndex")
								i.fa.fa-film
								span Recommendation
								small.badge.pull-right.bg-green 20
					each cat in mCates
						li.typeli(style="border-bottom:0.5px solid #ccc;")
							a.typelist(href="/guestIndex/#{cat._id}")
								i.fa.fa-film
								span #{cat.title}
								small.badge.pull-right.bg-green #{cat.movies.length}
				script(type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&d=AtwnonysoTwsiXaU6lBxuvsG4D1K7CayC2po0LDMmj0")


